:root {
  /* Colors - main page */
  --color-black: #151429;
  --color-white: #fff;
  --color-blue: #02238f;
  --color-pink: #fa8080;
  --color-yellow: #ffda62;
  --color-indigo: #1f1e37;
  --color-text-lightgrey: #dee2e4;
  --color-card-lightgrey: #f0f4f6;

  /* Colors - 'Ask a question' popover */
  --color-form-violet: #3d3683;
  --color-form-hotpink: #ef2e78;
  --color-form-grey: #8a8b8e;
  --color-form-black: #404040;
  --color-form-input-border: #abacad;

  /* Size */
  --size-border-radius: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Reset CSS */
ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

/* Header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 18px;
  color: var(--color-black);
}

.header-logo img {
  display: block;
  height: 42px;
}

.header-menu-button {
  width: 32px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url('./images/menu.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.header-dropdown.hidden {
  display: none;
}

.header-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 17px;
  line-height: 1.1764705882;
  background-color: rgba(21, 20, 41, 0.9);
  text-align: center;
  z-index: 1;
}

.dropdown-wrapper {
  position: relative;
  width: 80%;
  padding: 100px 90px 20px;
  border-radius: 3px;
  margin: 0 auto;
  background-color: var(--color-white);
  transform: translateY(100px);
  animation-name: show-header-dropdown;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
}

.dropdown-gnb .menu-item {
  border-bottom: 2px solid transparent;
  margin-bottom: 20px;
}

.dropdown-gnb .menu-item:hover {
  border-bottom: 2px solid var(--color-pink);
}

.dropdown-gnb .menu-item:last-child {
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
  margin-top: 100px;
  font-size: 15px;
  line-height: 1.9333333333;
  transition: color 200ms ease-in, background-color 200ms ease-in;
}

.dropdown-gnb .menu-item:last-child:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

.dropdown-gnb .menu-item a {
  display: block;
  padding: 10px 0;
}

.header-dropdown .close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url('./images/close-menu.svg');
  background-size: contain;
  cursor: pointer;
}

.header-gnb,
.header-button-group {
  display: none;
}

@keyframes show-header-dropdown {
  from {
    transform: translateY(-660px);
  }

  to {
    transform: translateY(100px);
  }
}

/* introduction */
.introduction {
  padding: 40px 20px;
  color: var(--color-black);
  background: linear-gradient(211deg, #f3f3f3, hsla(0, 0%, 100%, 0) 20%);
  text-align: center;
}

.introduction .horizontal {
  margin-bottom: 60px;
}

.introduction .horizontal .left {
  margin-bottom: 40px;
}

.introduction-title {
  min-height: 150px;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: -0.043em;
  font-weight: 400;
}

.introduction-title span {
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--color-pink);
  text-decoration-skip-ink: none;
}

.introduction-description {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.6666666667;
  letter-spacing: -0.005em;
}

.introduction-button {
  display: block;
  padding: 12px 30px;
  border-radius: var(--size-border-radius);
  font-size: 15px;
  line-height: 1.9333333333;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition: background-color 300ms ease-out;
}

.introduction-button:hover {
  background-color: #0832bb;
}

.introduction-demo {
  width: 100%;
}

.introduction .logo-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.introduction .logo-group a {
  padding: 10px;
  margin-bottom: 20px;
}

.introduction .logo-group a:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.introduction .logo-group img {
  display: block;
  width: 100px;
  filter: grayscale(1);
  opacity: 0.6;
}

.introduction .company-etc {
  font-size: 17px;
  line-height: 1.7058823529;
}

.introduction .company-etc a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-yellow);
  text-underline-offset: 4px;
}

.introduction .company-etc a:hover {
  text-decoration-thickness: 4px;
}

/* Product */
.product {
  padding: 25px 20px;
  color: var(--color-text-lightgrey);
  background-color: var(--color-blue);
  text-align: center;
}

.product-title {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4117647059;
  letter-spacing: 0.106em;
  text-transform: uppercase;
}

.product-description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5625;
}

.product-inspector {
  width: 100%;
  margin-bottom: 40px;
}

.product strong {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.033em;
}

.product-description-docs {
  font-size: 17px;
  line-height: 1.7058823529;
}

.product-description-docs a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-yellow);
  text-underline-offset: 4px;
}

.product-description-docs a:hover {
  text-decoration-thickness: 4px;
}

/* Testimonials */
.testimonials {
  padding: 20px 0;
  color: var(--color-black);
  text-align: center;
}

.testimonials .container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  padding: 0 8px;
}

.testimonials .container .item {
  padding: 20px;
  border-radius: 4px;
  background-color: var(--color-card-lightgrey);
}

.testimonials-title {
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.4761904762;
}

.testimonials-title span {
  display: block;
  font-weight: 400;
}

.testimonials .user-image {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 12px;
}

.testimonials .user-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.7058823529;
}

.testimonials .user-message {
  font-size: 15px;
  line-height: 1.6666666667;
  letter-spacing: -0.005em;
}

/* Footer */
.page-footer {
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-indigo);
  text-align: center;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-recommendation {
  order: 2;
  margin-bottom: 46px;
}

.footer-title {
  margin-bottom: 18px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4761904762;
}

.footer-button {
  display: block;
  padding: 6px 30px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  font-size: 15px;
  line-height: 1.9333333333;
  color: var(--color-white);
  background-color: transparent;
  transition: background-color 300ms ease-out;
}

.footer-button:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.footer-gnb {
  order: 3;
}

.footer-gnb .menu-list {
  margin-bottom: 14px;
}

.footer-gnb .menu-item {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5625;
}

.footer-gnb .menu-item:last-child {
  margin-bottom: 0;
}

.footer-information {
  order: 1;
  font-size: 16px;
  line-height: 1.5625;
}

.footer-information .information-list {
  margin-bottom: 8px;
}

.footer-information .information-item {
  margin-bottom: 8px;
  filter: grayscale(50%);
  opacity: 0.4;
}

.footer-information .information-item:last-child {
  margin-bottom: 0;
}

.footer-logo {
  display: none;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.104em;
  text-transform: uppercase;
  filter: grayscale(50%);
  opacity: 0.2;
}

/* Ask a question widget */
.widget.hidden {
  display: none;
}

.widget-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 14px;
  height: 54px;
  padding: 0 12px;
  border-radius: 30px 12px 30px 12px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 3;
  letter-spacing: 0.031em;
  color: var(--color-white);
  background-color: var(--color-form-violet);
  cursor: pointer;
  animation-name: widget-button-display;
  animation-duration: 250ms;
}

.widget-button:focus {
  outline: 2px solid var(--color-form-hotpink);
}

.widget-button::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 18px;
  margin-right: 8px;
  background-image: url('./images/envelope.svg');
  background-size: contain;
}

.widget-button.clicked {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.widget-button.clicked::before {
  width: 16px;
  height: 16px;
  margin-right: 0;
  background-image: url('./images/close-popover.svg');
}

.widget-button.clicked .text {
  display: none;
}

.widget-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 88px;
  right: 0;
  height: calc(100vh - 88px);
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-white);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  transform-origin: bottom right;
  animation-name: widget-form-show;
  animation-duration: 250ms;
}

.widget-form:focus {
  outline: 2px solid var(--color-form-hotpink);
}

.widget-form.hidden {
  display: none;
}

.form-header {
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-form-violet);
}

.form-header .form-title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.625;
  letter-spacing: 0.006em;
}

.form-header .form-description {
  font-size: 18px;
  line-height: 1.4444444444;
}

.form-contents {
  flex-grow: 1;
  padding: 10px 10px 0;
  border-bottom: 1px solid rgba(149, 155, 161, 0.1);
  color: var(--color-form-black);
  background-color: var(--color-white);
  overflow-y: auto;
  transition: all 700ms ease;
}

.form-contents .form-error.is-not-active {
  display: none;
}

.form-contents .form-error {
  display: block;
  padding: 14px 18px;
  font-size: 18px;
  line-height: 1.2222222222;
  color: rgb(175, 29, 29);
  background-color: rgba(221, 52, 52, 0.1);
  border: 1px solid rgb(199, 33, 33);
  text-align: center;
}

.form-contents .description {
  display: block;
  margin: 16px 0 8px;
  font-size: 16px;
  line-height: 1;
  text-align: right;
}

.form-contents label,
.form-contents label input,
.form-contents label textarea {
  display: block;
}

.form-contents label input,
.form-contents label textarea {
  outline: none;
  transition: box-shadow 200ms ease-in-out, border-color 200ms ease-in-out;
}

.form-contents label input:focus,
.form-contents label textarea:focus {
  border-color: #ced2d2;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.form-contents label input.error-border,
.form-contents label textarea.error-border {
  border-color: var(--color-form-hotpink);
}

.form-contents label input.error-border:focus,
.form-contents label textarea.error-border:focus {
  transition-delay: 400ms;
}

.form-contents label {
  position: relative;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1;
}

.form-contents label input {
  width: 100%;
  padding: 10px 36px 10px 10px;
  border: 1px solid var(--color-form-input-border);
  border-radius: 6px;
  margin-top: 4px;
  font-size: 21px;
  line-height: 1.3333333333;
  color: inherit;
}

.form-contents label input::placeholder {
  color: var(--color-form-grey);
}

.form-contents label textarea {
  width: 100%;
  height: 114px;
  padding: 10px 36px 10px 10px;
  border: 1px solid var(--color-form-input-border);
  border-radius: 6px;
  font-size: 21px;
  line-height: 1;
  color: inherit;
}

.form-contents label .asterisk {
  position: absolute;
  width: 10px;
  height: 10px;
}

.form-contents label .asterisk.error-color > g {
  fill: var(--color-form-hotpink);
}

.form-contents .user-name .asterisk,
.form-contents .user-email .asterisk {
  right: 8px;
  bottom: 4px;
}

.form-contents .user-message .asterisk {
  top: 40px;
  right: 8px;
}

.form-contents .send-button {
  width: 100%;
  padding: 15px 12px;
  border-radius: var(--size-border-radius);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.024em;
  color: var(--color-white);
  background-color: var(--color-form-hotpink);
  text-transform: uppercase;
  cursor: pointer;
}

.form-footer {
  height: 38px;
  padding-right: 20px;
  background-color: #fff;
  text-align: right;
}

.form-footer .text {
  font-size: 18px;
  line-height: 1;
  color: var(--color-form-grey);
  text-transform: lowercase;
}

.form-footer-link .logo {
  height: 20px;
  margin-left: 4px;
  transform: translateY(6px);
}

@keyframes widget-button-display {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes widget-form-show {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1);
  }

  85% {
    transform: scale(0.99);
  }

  100% {
    transform: scale(1);
  }
}

/* Small size (width >= 462px) */
@media screen and (min-width: 462px) {
  /* Header */
  .page-header {
    padding: 0 30px;
  }

  .header-logo img {
    height: 48px;
  }

  .dropdown-gnb .menu-item:last-child {
    font-size: 17px;
    line-height: 1.7058823529;
  }

  /* Introduction */
  .introduction .horizontal {
    margin-bottom: 90px;
  }

  .introduction-title {
    min-height: 200px;
    margin-bottom: 0;
    font-size: 45px;
    line-height: 1;
    letter-spacing: -0.033em;
  }

  .introduction-description {
    max-width: 450px;
    margin: 0 auto 20px;
    line-height: 1.8666666667;
  }

  .introduction-button {
    display: inline-block;
    padding: 9px 30px;
    font-size: 17px;
  }

  .introduction .logo-group {
    justify-content: center;
  }

  .introduction .logo-group a {
    margin-bottom: 0;
  }

  .introduction .logo-group img {
    width: 90px;
  }

  /* Product */
  .product {
    padding: 80px 20px 50px;
  }

  .product-title {
    line-height: 1.4117647059;
  }

  .product-description {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 1.4666666667;
  }

  .product-inspector {
    display: block;
    margin: 0 auto 60px;
    width: 70%;
  }

  .product strong {
    font-size: 40px;
    line-height: 1.125;
  }

  /* Testimonials */
  .testimonials {
    padding: 80px 0 120px;
  }

  .testimonials .container {
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    padding: 0 40px;
  }

  .testimonials .container .item {
    padding: 30px 30px 20px;
    text-align: left;
  }

  .testimonials-title {
    padding: 0 40px;
    margin-bottom: 40px;
    line-height: 1.619047619;
  }

  .testimonials .user-image {
    margin: 0 0 12px;
  }

  .testimonials .user-message {
    line-height: 1.8666666667;
  }

  /* footer */
  .page-footer {
    padding: 40px 20px 15px;
  }

  .footer-title {
    line-height: 1.619047619;
  }

  .footer-button {
    display: inline-block;
    font-size: 17px;
    line-height: 1.7058823529;
    transition: all 300ms;
  }

  .footer-gnb .menu-item {
    font-size: 15px;
    line-height: 1.4666666667;
  }

  .footer-information {
    font-size: 15px;
    line-height: 1.4666666667;
  }
}

/* Medium size (width >= 750px) */
@media screen and (min-width: 750px) {
  /* Header */
  .header-logo img {
    height: 50px;
  }

  .dropdown-wrapper {
    width: 528px;
    padding-bottom: 40px;
  }

  .dropdown-gnb .menu-item {
    margin-bottom: 0;
  }

  .dropdown-gnb .menu-item:last-child {
    margin-top: 80px;
  }

  .dropdown-gnb .menu-item a {
    padding: 4px 0;
  }

  /* Introduction */
  .introduction {
    padding: 60px 30px 40px;
  }

  .introduction .horizontal {
    margin-bottom: 70px;
  }

  .introduction-title {
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: -0.031em;
  }

  .introduction-description {
    margin-bottom: 40px;
  }

  .introduction-demo {
    width: 300px;
  }

  .introduction .logo-group {
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  /* Product */
  .product {
    padding: 80px 30px 50px;
  }

  .product-description {
    width: 70%;
    margin: 0 auto 60px;
  }

  /* Testimonials */
  .testimonials .container {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0 60px;
  }

  .testimonials-title {
    padding: 0 60px;
  }

  /* Footer */
  .page-footer {
    padding: 50px 60px 15px;
  }

  .footer-main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-gnb {
    order: 1;
  }

  .footer-gnb .menu-list {
    text-align: left;
  }

  .footer-information {
    order: 3;
  }

  .footer-information .information-list {
    margin-bottom: 28px;
    text-align: left;
  }

  .footer-logo {
    display: block;
    width: 110px;
  }

  /* Ask a question widget */
  .widget-form {
    width: 50%;
    border-bottom-left-radius: 12px;
  }

  .form-footer {
    border-bottom-left-radius: 12px;
  }
}

/* Large size (width >= 974px) */
@media screen and (min-width: 974px) {
  /* Header */
  .page-header {
    height: 70px;
    font-size: 17px;
    line-height: 1.1764705882;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
  }

  .header-logo img {
    height: 56px;
  }

  .header-menu-button {
    display: none;
  }

  .header-gnb,
  .header-button-group {
    display: block;
  }

  .header-gnb .menu-list {
    display: flex;
    align-items: center;
  }

  .header-gnb .menu-item a {
    padding: 0 12px;
  }

  .header-gnb .menu-item:last-child .menu-item-text::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    background-image: url('./images/download-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .header-button-group a:first-child {
    padding: 0 20px;
  }

  .header-gnb .menu-item a:hover .menu-item-text,
  .header-button-group a:first-child:hover .header-button-text {
    border-bottom: 2px solid var(--color-pink);
  }

  .header-button-group a:last-child {
    padding: 8px 24px;
    border: 2px solid var(--color-black);
    border-radius: var(--size-border-radius);
    transition: color 300ms ease-out, background-color 300ms ease-out;
  }

  .header-button-group a:last-child:hover {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  /* Introduction */
  .introduction {
    padding: 125px 20px 40px;
    text-align: left;
  }

  .introduction .horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto 200px;
  }

  .introduction .horizontal .left {
    margin-bottom: 0;
    margin-right: 50px;
  }

  .introduction-title {
    max-width: 450px;
    font-size: 53px;
    line-height: 1.1132075472;
    letter-spacing: -0.028em;
  }

  .introduction-description {
    margin: 0 0 40px;
  }

  .introduction-demo {
    flex-grow: 1;
    max-width: 495px;
  }

  .introduction .logo-group {
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto 10px;
  }

  .introduction .company-etc {
    display: block;
    text-align: center;
  }

  /* Product */
  .product {
    padding: 80px 0 50px;
  }

  .product-description {
    max-width: 715px;
  }

  .product-inspector {
    width: 75%;
    max-width: 770px;
  }

  /* Testimonials */
  .testimonials .container {
    row-gap: 20px;
    column-gap: 20px;
    max-width: 1100px;
    padding: 0;
    margin: 0 auto;
  }

  .testimonials-title {
    padding: 0;
  }

  /* Footer */
  .page-footer {
    padding: 60px 30px 15px;
  }

  .footer-main {
    max-width: 1100px;
    margin: 0 auto;
  }

  /* Ask a question widget */
  .widget-form {
    right: 20px;
    width: 350px;
    height: auto;
    border-radius: 12px;
  }

  .form-header {
    border-radius: 12px 12px 0 0;
  }

  .form-contents {
    flex-grow: 0;
    height: 42vh;
  }

  .form-footer {
    border-radius: 0 0 12px 12px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  }
}
