:root {
  /* Colors - main page */
  --color-black: #151429;
  --color-white: #fff;
  --color-blue: #02238f;
  --color-light-grey: #dee2e4;
  --color-pink: #fa8080;
  --color-yellow: #ffda62;

  /* Colors - 'Ask a question' popover */
  --color-form-violet: #3d3683;
  --color-form-hotpink: #ef2e78;
  --color-form-grey: #8a8b8e;
  --color-form-black: #404040;
  --color-form-input-border: #abacad;
  --color-form-asterisk-icon: #959ba1;

  /* Size */
  --size-border-radius: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Reset CSS */
ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 18px;
  color: var(--color-black);
}

.header-logo img {
  display: block;
  height: 42px;
}

.header-menu-button {
  width: 32px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url('./images/menu.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.header-gnb,
.header-button-group {
  display: none;
}

/* introduction */
.introduction {
  padding: 40px 20px;
  color: var(--color-black);
  background: linear-gradient(211deg, #f3f3f3, hsla(0, 0%, 100%, 0) 20%);
  text-align: center;
}

.introduction .horizontal {
  margin-bottom: 40px;
}

.introduction .horizontal .left {
  margin-bottom: 40px;
}

.introduction-title {
  margin-bottom: 40px;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: -0.043em;
  font-weight: 400;
}

.introduction-title span {
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--color-pink);
  text-decoration-skip-ink: none;
}

.introduction-description {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.6666666667;
  letter-spacing: -0.005em;
}

.introduction-button {
  display: block;
  padding: 12px 30px;
  border-radius: var(--size-border-radius);
  font-size: 15px;
  line-height: 1.9333333333;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition: background-color 300ms ease-out;
}

.introduction-button:hover {
  background-color: #0832bb;
}

.introduction-demo {
  width: 100%;
}

.introduction .logo-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.introduction .logo-group a {
  padding: 10px;
  margin-bottom: 20px;
}

.introduction .logo-group a:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.introduction .logo-group img {
  display: block;
  width: 100px;
  filter: grayscale(1);
  opacity: 0.6;
}

.introduction .company-etc {
  font-size: 17px;
  line-height: 1.7058823529;
}

.introduction .company-etc a {
  /* display: inline-block; */
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-yellow);
  text-underline-offset: 4px;
}

.introduction .company-etc a:hover {
  text-decoration-thickness: 4px;
}

/* Small size (width >= 462px) */
@media screen and (min-width: 462px) {
  /* Header */
  header {
    padding: 0 30px;
  }

  .header-logo img {
    height: 48px;
  }
}

/* Medium size (width >= 750px) */
@media screen and (min-width: 750px) {
  /* Header */
  .header-logo img {
    height: 50px;
  }
}

/* Large size (width >= 974px) */
@media screen and (min-width: 974px) {
  /* Header */
  header {
    height: 70px;
    font-size: 17px;
    line-height: 1.1764705882;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
  }

  .header-logo img {
    height: 56px;
  }

  .header-menu-button {
    display: none;
  }

  .header-gnb,
  .header-button-group {
    display: block;
  }

  .header-gnb .menu-items {
    display: flex;
    align-items: center;
  }

  .header-gnb .menu-item {
    margin-right: 20px;
  }

  .header-gnb .menu-item:last-child {
    margin-right: 0;
  }

  .header-gnb .menu-item:last-child a::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    background-image: url('./images/download-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .header-button-group a:first-child {
    margin-right: 20px;
  }

  .header-gnb .menu-item a:hover,
  .header-button-group a:first-child:hover {
    border-bottom: 2px solid var(--color-pink);
  }

  .header-button-group a:last-child {
    padding: 8px 24px;
    border: 2px solid var(--color-black);
    border-radius: var(--size-border-radius);
    transition: color 300ms ease-out, background-color 300ms ease-out;
  }

  .header-button-group a:last-child:hover {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}
